.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**


#toptab{
  background-color: rgb(205, 251, 251);
  height: 55px;
  width: 400px;
  display: flex;
  align-items: center;
  
}

#xbutton{
  background-color: azure;
  height: 35px;
  width: 35px;
  margin-left: 350px;
  cursor:pointer;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#xbutton:hover{
  background-color: rgb(170, 182, 182);
}

#component{
  background-color: white;
  height: 60px;
  width: 350px;
  margin-top: 20px;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
**/

